body{
    background-color: #606C38;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DDA15E;
}

.Hello{
    padding-right: 195px;
    padding-top: 50px;
    size: small;
    color: black;
    text-align: center;
    margin: 0px;
}

.Name{
    text-align: center;
    margin: 0px;
    font-size: 40px;
}


